O desafio é o seguinte: 

Previsão de demanda é uma projeção realizada com o intuito de prever o potencial de vendas de um ou mais produtos em um cenário futuro. 

Com base em dados e informações, numéricas e intencionais, o objetivo da previsão é aproximar ao máximo a perspectiva da realidade. Embora não seja possível determinar as ações do futuro, a estimativa permite guiar a tomada de decisão e elaborar um planejamento mais estratégico, voltado para as possibilidades reais do negócio.

Nos diversos setores, a previsão de demanda serve de amparo para nortear e orientar as ações mais importantes.

Nós, da Frexco, trabalhamos com produtos perecíveis e muitos deles possuem uma data de validade curta. Acertar na previsão de demanda é essencial para evitarmos o desperdício de alimentos, além de também ser importante garantir que tenhamos o produto disponível no estoque para venda.

Tendo isso em mente, estruture um script no Python que calcule a previsão de demanda para os próximos 5 dias do item, baseando-se no histórico presente na base de dados em anexo.

Obs: O modelo de previsão pode ser o que você julgue ser o melhor, mas atenção aos detalhes de variação nas vendas!

In [1]:
#importando as bibliotecas necessárias

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
#importando a base de dados

dados = pd.read_csv('/content/Dados.csv')

In [6]:
#base de dados
dados

          Data   Vendas
0    6/12/2022  870.000
1    7/12/2022  868.000
2    8/12/2022    1.189
3    9/12/2022  742.000
4   10/12/2022  317.000
5   11/12/2022  685.000
6   12/12/2022    1.366
7   13/12/2022    1.213
8   14/12/2022    1.055
9   15/12/2022    1.343
10  16/12/2022  832.000
11  17/12/2022  240.000
12  18/12/2022  235.000
13  19/12/2022    1.050
14  20/12/2022  711.000
15  21/12/2022  745.000
16  22/12/2022    1.009
17  23/12/2022   18.000
18  24/12/2022   40.000
19  25/12/2022   67.000
20  26/12/2022  821.000
21  27/12/2022  572.000
22  28/12/2022  429.000
23  29/12/2022  638.000
24  30/12/2022  106.000
25  31/12/2022   54.000
26    1/1/2023  144.000
27    2/1/2023  814.000
28    3/1/2023  679.000
29    4/1/2023  712.000
30    5/1/2023    1.229
31    6/1/2023  821.000
32    7/1/2023  319.000
33    8/1/2023  317.000
34    9/1/2023    1.317
35   10/1/2023  807.000
36   11/1/2023  923.000
37   12/1/2023    1.265
38   13/1/2023  892.000
39   14/1/2023  289.000
40   15/1/2023  566.000
41   16/1/2023    1.692
42   17/1/2023    1.097
43   18/1/2023    1.302
44   19/1/2023    1.405
45   20/1/2023  945.000

In [5]:
#detalhando os dados por variáveis

dados.describe()

           Vendas
count   46.000000
mean   374.685478
std    358.222241
min      1.009000
25%      1.375750
50%    303.000000
75%    734.500000
max    945.000000

In [15]:
#Tamanho dos dados

dados.shape

(46, 1)

In [13]:
#Convertendo a data como um tipo de data (dia) e definindo como um dataframe


dados['Data'] = pd.to_datetime(dados['Data'])
dados.set_index('Data', inplace=True)

In [17]:
#calculando o numero de dias desde o primeiro dia atual

dados['dias'] = (dados.index - dados.index[0]).days
dados

             Vendas  dias
Data
2022-06-12  870.000     0
2022-07-12  868.000    30
2022-08-12    1.189    61
2022-09-12  742.000    92
2022-10-12  317.000   122
2022-11-12  685.000   153
2022-12-12    1.366   183
2022-12-13    1.213   184
2022-12-14    1.055   185
2022-12-15    1.343   186
2022-12-16  832.000   187
2022-12-17  240.000   188
2022-12-18  235.000   189
2022-12-19    1.050   190
2022-12-20  711.000   191
2022-12-21  745.000   192
2022-12-22    1.009   193
2022-12-23   18.000   194
2022-12-24   40.000   195
2022-12-25   67.000   196
2022-12-26  821.000   197
2022-12-27  572.000   198
2022-12-28  429.000   199
2022-12-29  638.000   200
2022-12-30  106.000   201
2022-12-31   54.000   202
2023-01-01  144.000   203
2023-02-01  814.000   234
2023-03-01  679.000   262
2023-04-01  712.000   293
2023-05-01    1.229   323
2023-06-01  821.000   354
2023-07-01  319.000   384
2023-08-01  317.000   415
2023-09-01    1.317   446
2023-10-01  807.000   476
2023-11-01  923.000   507
2023-12-01    1.265   537
2023-01-13  892.000   215
2023-01-14  289.000   216
2023-01-15  566.000   217
2023-01-16    1.692   218
2023-01-17    1.097   219
2023-01-18    1.302   220
2023-01-19    1.405   221
2023-01-20  945.000   222

In [19]:
#definindo a feature como dias e a target como vendas

x = dados[['dias']]
y = dados[['Vendas']]

In [22]:
#treinando o modelo usando regressão linear
model = LinearRegression().fit(x, y)

In [26]:
#realizando a previsão de 5 dias 

previsoes = model.predict(np.array([dados.shape[0]+1, dados.shape[0]+2, dados.shape[0]+3, dados.shape[0]+4, dados.shape[0]+5]).reshape(-1, 1))

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [27]:
#impimindo as previsões

print('Previsão para amanhã:', previsoes[0])
print('Previsão para daqui a 2 dias:', previsoes[1])
print('Previsão para daqui a 3 dias:', previsoes[2])
print('Previsão para daqui a 4 dias:', previsoes[3])
print('Previsão para daqui a 5 dias:', previsoes[4])

Previsão para amanhã: [384.50665669]
Previsão para daqui a 2 dias: [384.45240907]
Previsão para daqui a 3 dias: [384.39816145]
Previsão para daqui a 4 dias: [384.34391382]
Previsão para daqui a 5 dias: [384.2896662]